
@media (min-width: 768px) {
    .ms-col {
        width: calc(100% / 2 - 20px);
    }
}

@media (min-width: 1024px) {
    .ms-col {
        width: calc(100% / 3 - 20px);
    }

     .main-card{
        width:70%;
    } 
}