*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    background-image: url(../img/cork.png);
}



.header{
    height: 160px;
    background-color: lightgrey;
   
    
}


#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}

.h1{
    font-size: 5rem;
}

.ms-container{
 display: flex;
 flex-wrap: wrap;
 
}

.ms-col{
    width: 100%;
    margin-top: 5px;
   
}


.main-card{
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.card-img{
    height: auto;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

